<html>
    <head>

    </head>
    <body>
        <table border="0" style="width: 100%; height: 100%; border-collapse: collapse;">
    
            <tr>
                <td><!--++++++++++++++++++++++++++++ Adress-Kopf--++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                    <table border="0" style="width: 100%; border-collapse: collapse;">
                        <tr style="padding-top: 0px;">
                            <td rowspan="5" style="width: 66%; text-align: center; font: 8px arial bold;">
                                Universität Bamberg<br />Rechenzentrum Abt. Technik<br />Feldkirchenstr 21
                            </td>
                            
                        </tr>
                        
                    </table>
                   
                </td>
                <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                <!--+++++++++++++++++++++++++++RZ-Nummer, Datum, Ort++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                <td> 
                    <table border="0" style="width: 100%; border-collapse: collapse;">
                       <tr>
                             <td style="width: 33%; height: 16px; font: 8px arial; text-align: center">&nbsp;</td>
                        </tr>
                        <tr>
                             <td style="width: 33%; height: 16px; font: 8px arial; text-align: center">&nbsp;</td>
                        </tr>
                        <tr>
                             <td style="width: 33%; height: 16px; font: 8px arial; text-align: center">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="width: 33%; height: 14px; text-align: center; font: 8px arial bold;">&nbsp;</td>
                        </tr>
                        
                        <tr>
                            <td style="width: 33%; height: 16px; text-align: center; font: 8px arial bold;">{{datnow}}</td>
                        </tr>
                        <tr>
                            <td style="width: 33%; height: 18px; text-align: center; font: 8px arial bold;">Bamberg</td>
                        </tr>
                    </table>
                </td>
                <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            </tr>
            <tr>
                <!--+++++++++++++++++++++++++++++++Lehrstuhl, Empfänger, Ort++++++++++++++++++++++++++++++++++++++++++-->
                <td>
                    <table border="0" style="width: 100%; border-collapse: collapse;">
                        <tr>
                            <td style="width: 100%; height: 8px;"></td>
                        </tr>
                        <tr>
                           <td style="width: 100%; height: 16px; text-align: center; font: 8px arial bold;">{{bez}}</td>
                            
                          
                        </tr>
                        <tr>
                            <td style="width: 100%; height: 18px; text-align: center; font: 8px arial bold;">&nbsp;</td>
                            
                           
                        </tr>
                        <tr>
                            <td style="width: 100%; height: 16px; text-align: center; font: 8px arial bold;">{{leiter}}</td> 
                           
                        </tr>
                        <tr>
                            <td>
                                <td style="width: 100%; height: 10px;"></td>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%; height: 16px; text-align: center; font: 8px arial bold;">{{empf}}</td>
                          
                           
                        </tr>
                        <tr>
                            <td>
                                <td style="width: 100%; height: 16px;"></td>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%; height: 16px; text-align: center; font: 8px arial bold;">{{ort}}</td>
                           
                          
                        </tr> 
                    </table>
                </td>
                <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                <!--+++++++++++++++++++++++++++++Bestellart, Mitarbeiter+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                <td>
                    <table border="0" style="width: 100%; border-collapse: collapse;">
                        <tr>
                           
                            <td style="width: 33%; height: 16px; font: 8px arial; text-align: center;">&nbsp;</td>
                        </tr>
                        <tr>
                            
                            <td style="width: 33%; height: 16px; text-align: center ; font: 8px arial bold;">{{knr}}</td>
                        </tr>
                        <tr>
                           
                            <td style="width: 33%; height: 16px; text-align: center ; font: 8px arial bold;">&nbsp;</td>
                        </tr>
                        <tr>
                            
                            <td style="width: 33%; height: 16px; text-align: center; font: 8px arial;">&nbsp;</td>
                        </tr>
                        <tr>
                           
                            <td style="width: 33%; height: 16px; text-align: center; font: 8px arial bold;">{{marb}}</td>
                        </tr> 
                    </table>
                </td>
                <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
            </tr>
           <!--<tr>
                +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Leerzeilen++++++++++++++++++++++++++++++++++++++++++++-
                <td colspan="2">
                     <table border="0" style="width: 100%; border-collapse: collapse;">
                      <tr>
                            <td style="width: 100%; height: 8px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td  style="width: 100%; height: 8px;">&nbsp;</td>
                        </tr>
                        <tr>
                             <td style="width: 100%; height: 8px;">&nbsp;</td>
                        </tr>
                        <tr>
                             <td style="width: 100%; height: 8px;">&nbsp;</td>
                        </tr>
                       
                        
                     </table>
                </td>
                ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            </tr>-->
            <tr>
                <!--++++++++++++++++++++++++++Lieferschein-Inhalt+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                <td colspan="2">
                    <table border="0" style="width: 100%; border-collapse: collapse;">
                    {{#each inhalt}}
                                <tr>
                                    <td style="width: 20%; vertical-align:top; font: 8px arial;">{{this.Menge}}</td>
                                    {{#each this.text}}
                                    <td style="width: 80%; font: 8px arial;">{{this.text}}</td>
                                    {{/each}}
                                    
                                </tr>
                    {{/each}}
                            <tr>
                                <td colspan="2"  style="height: 12px; text-align: center; font: 8px arial;">Achtung Lieferschein gilt als Garantiebeleg</td>
                            </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>