<div class="row">
    <div class="column-responsive column-100">
        <div class="aussonderung index content">
            <h3>HWl:Printmanagement</h3>
            <p>dem Tool zur Druckerverwaltung</p>
        </div>
    </div>
</div>